@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

$ff-primary: 'Open Sans', sans-serif;

$ff-light: 300;
$ff-reg: 400;
$ff-bold: 800;

body {
    font-family: $ff-primary;
}